html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Image/tanjiro-kamado-6082x5416-23027.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: inherit;
}

h1 {
  position: fixed;
  top: 1rem;
  font-family: "Arial Black", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
  font-size: 45px;
}

#loadMovie {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #4f8ac9;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#loadMovie:hover {
  background-color: #367ab8;
}

.movie-layout {
  display: flex;
  justify-content: space-between;
  align-items: center; /* important */
  width: 100%;
  padding: 2rem 4rem;
}

/* Left column */
.movie-controls {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  flex: 1;
}

/* Right column */

.movie-content {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  text-align: center;
}

#movieImage,
#movieDescription {
  display: flex;
  justify-content: right;
  width: 100%;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
}

#movieDescription {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  text-shadow: white 1px 1px 2px;
  margin-top: 1rem;
}
